@model WebClient.Models.CreateCampaignVM
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="bg-dark text-white">
        <nav class="rounded-3 navbar navbar-expand-sm navbar-dark border border-1 border-secondary ">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </nav>
        <div class="p-3">
            <form asp-asp-controller="Campaign" asp-action="CreateCampaign" method="post">
                <h3 style="color:darkorange">Campaign information</h3>
                
                <div class="py-3">
                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="title">Tiêu đề <span class="text-danger">*</span></label>
                            <input asp-for="Title" class="form-control" required id="deadline">
                        </div>
                        <div class="col-4 form-group">
                            <label for="number">Mô tả <span class="text-danger">*</span></label>
                            <input asp-for="Description" class="form-control" required id="deadline">
                        </div>

                        <div class="col-4 form-group">
                            <label for="major">Loại chiến dịch <span class="text-danger">*</span></label>
                            <select asp-for="CategoryID" class="w-100 p-2" style="border-radius: 5px;">

                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.CategoryId">@category.CategoryName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="number">Ngân sách <span class="text-danger">*</span></label>
                            <input asp-for="Budget" class="form-control" required id="deadline">
                        </div>
                        <div class="col-4 form-group">
                            <label for="deadline">Ngày bắt đầu <span class="text-danger">*</span></label>
                            <input asp-for="StartDate" class="form-control" required id="deadline">
                        </div>
                        <div class="col-4 form-group">
                            <label for="deadline">Ngày kết thúc <span class="text-danger">*</span></label>
                            <input asp-for="EndDate" class="form-control" required id="deadline">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="number">Yêu cầu <span class="text-danger">*</span></label>
                            <input asp-for="Requirements" class="form-control" required id="deadline">
                        </div>
                        
                    </div>
                </div>
                <button type="submit" class="d-flex justify-content-center bg-dark btn_hover">
                    <span style="color:darkorange">Tạo chiến dịch</span>
                </button>
            </form>
        </div>
    </div>

    <!-- link script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>