@model WebClient.Controllers.InfluencerController.InfluencerEditViewModel
@{
    ViewBag.Title = "Chỉnh sửa hồ sơ";
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa hồ sơ Influencer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <style>
        body {
            font-size: 0.85em;
        }

        .custom-button {
            background-color: #ff6f00;
            border: none;
            padding: 8px 12px;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .custom-button:hover {
                background-color: #e65c00;
            }

        .avatar-upload img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            transition: opacity 0.3s ease;
        }

        .avatar-upload:hover img {
            opacity: 0.7;
        }

        .avatar-upload {
            width: 150px; /* Cố định chiều rộng của div */
            height: 150px; /* Cố định chiều cao của div */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; /* Ẩn phần ảnh vượt ra ngoài */
            border-radius: 50%; /* Đảm bảo div có hình tròn nếu cần */
            position: relative;
            margin: 0 auto;
        }

        #avatarImage {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Đảm bảo ảnh không bị méo */
        }

        .avatar-upload .upload-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: white;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .avatar-upload:hover .upload-icon {
            opacity: 1;
        }

        .avatar-upload input[type="file"] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container mt-6">
        <h4 class="mb-6">Chỉnh sửa hồ sơ Influencer</h4>

        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <!-- Left Section: Name, Birth Year, Gender, and City -->
                <div class="col-md-8 form-row">
                    <div class="form-group col-md-6">
                        <label for="FullName">Họ và tên <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" id="FullName" placeholder="Nhập họ và tên" asp-for="InfluencerEditDto.Name" required />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="BirthYear">Năm sinh <sup class="text-danger">*</sup></label>
                        <input type="date" class="form-control" id="BirthYear" asp-for="InfluencerEditDto.DateOfBirth" required />
                    </div>

                    <div class="form-group col-md-2">
                        <label for="Gender">Giới tính <sup class="text-danger">*</sup></label>
                        <div class="d-flex align-items-center mt-1">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" id="Male" value="Male"
                                       asp-for="InfluencerEditDto.Gender" />
                                <label class="form-check-label" for="Male">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" id="Female" value="Female"
                                       asp-for="InfluencerEditDto.Gender" />
                                <label class="form-check-label" for="Female">Nữ</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label for="City">Tỉnh/Thành phố <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" id="Address" placeholder="Nhập địa chỉ nhận hàng" asp-for="InfluencerEditDto.Address" required />
                        @* <select id="City" value="@Model.User.Address" class="form-control">
                        <option selected>City</option>
                        <option value="1">Hà Nội</option>
                        <option value="2">TP. Hồ Chí Minh</option>
                        </select> *@
                    </div>
                </div>

                <!-- Right Section: Avatar -->
                <div class="col-md-4 text-center">
                    <label for="ProfilePicture" class="form-label">Ảnh đại diện <sup class="text-danger">*</sup></label>
                    <div class="avatar-upload">
                        <img id="avatarImage"
                             src="@Url.Content((Model.InfluencerEditDto.RealAvatar != null ? Model.InfluencerEditDto.RealAvatar.Replace("\\", "/") : "/images/default-avatar.png"))"
                             class="img-thumbnail rounded-circle"
                             alt="Profile Picture">
                    </div>
                    <i class="fas fa-camera upload-icon"></i>
                    <input type="file" class="form-control" id="Avatar" asp-for="InfluencerEditDto.AvatarFile" accept="image/*" />
                </div>
            </div>

            <!-- Bio Section -->
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="Bio">Giới thiệu bản thân <sup class="text-danger">*</sup></label>
                    <textarea class="form-control" asp-for="InfluencerEditDto.Bio" placeholder="Giới thiệu bản thân bạn (tối đa 240 ký tự)" maxlength="240" rows="3" required></textarea>
                </div>
            </div>

            <!-- Field of Work Section -->
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="Field">Lĩnh vực <sup class="text-danger">*</sup></label>
                    <select id="Field" class="form-control">
                        <option selected>Field</option>
                        <option value="1">Công nghệ</option>
                        <option value="2">Thời trang</option>
                        <option value="3">Ẩm thực</option>
                    </select>
                </div>
            </div>

            <!-- Social Media Links -->
            <div class="row">
                <h6 class="col-md-12 mt-2">Nền tảng hoạt động <sup class="text-danger">*</sup></h6>
                <div class="form-group col-md-2">
                    <select class="form-control">
                        <option value="Tiktok">Tiktok</option>
                        <option value="Instagram">Instagram</option>
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <input type="url" class="form-control" id="Tiktok" placeholder="https://www.example.com">
                </div>
                <div class="form-group col-md-1 d-flex align-items-center">
                    <button type="button" class="custom-button">Xóa</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="button" class="custom-button">+ Thêm dịch vụ</button>
                </div>
            </div>

            <!-- Contact Information -->
            <div class="row mt-2">
                <h6 class="form-group col-md-12">Thông tin liên hệ <sup class="text-danger">*</sup></h6>
                <div class="form-group col-md-6">
                    <label for="Zalo">Zalo <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control" id="Zalo" placeholder="Nhập số Zalo" asp-for="InfluencerEditDto.PhoneNumber">
                </div>
                <div class="form-group col-md-6">
                    <label for="Email">Email <sup class="text-danger">*</sup></label>
                    <input type="email" class="form-control" id="Email" placeholder="Nhập email" asp-for="InfluencerEditDto.Email">
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-md-12">
                    <label for="PersonalIdentificationNumber">Mã thuế <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control" id="PersonalIdentificationNumber" placeholder="Nhập mã thuế" asp-for="InfluencerEditDto.PersonalIdentificationNumber" required />
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-md-12">
                    <label for="BookingPrice">Giá booking <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control" id="BookingPrice" placeholder="Nhập giá booking" asp-for="InfluencerEditDto.BookingPrice" required />
                </div>
            </div>


            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100 mb-4">Lưu thay đổi</button>
        </form>


    </div>

    <script>
        function loadImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('avatarImage');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>

</html>
