
	<div class="p-toast p-component p-toast-top-right">
		<div></div>
	</div>
	<div class="header-list-koc mb-2 flex justify-content-between flex-wrap align-items-center">
		<h3 class="mb-0"></h3>
		<div class="select-soft md:w-auto w-full md:mt-0 mt-1 flex align-items-center">
			<label for="sorting">
				Sắp xếp
				theo:
			</label><select class="cursor-pointer outline-none" id="sorting" name="sorting">
				<option selected="" value="minPrice">...</option>
				<option value="avgVideo">Doanh thu/ Video</option>
				<option value="avgLive">Doanh thu/ Live</option>
				<option value="followers">Follower</option>
				<option value="price">Giá booking</option>
			</select>
		</div>
	</div>
	<div class="p-dataview p-component p-dataview-list">
		<div class="p-dataview-content">
			<div class="p-grid grid p-nogutter grid-nogutter">
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Le-Thanh&amp;id=557" title="Lê Thanh">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">87k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/557/eb051934-a7a2-47f4-93fb-e529534c075d_1696049874702-resize.jpg"
									   loading="lazy" alt="Lê Thanh">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Lê Thanh</h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/zent94"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Ẩm thực</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Huynh-Sinh&amp;id=3335" title="Huỳnh Sinh">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">34k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/3335/10bc287b-a01d-49fc-bac7-114b299c3ab1_1719501810527-resize.jpg"
									   loading="lazy" alt="Huỳnh Sinh">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Huỳnh Sinh</h3><span class="city text-white">Đắk Lắk</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/sinh.huynh726?_t=8nYJDLlO5Vl&amp;_r=1" target="_blank"
							   title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Thời trang, Thể thao, Gia dụng</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Nguyen-Thi-Nhu-Huynh&amp;id=2304"
											title="Nguyễn Thị Như Huỳnh ">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">7k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2304/cee50dcf-376b-43e9-92c6-f514493bbf63_1712250459605-resize.jpg"
									   loading="lazy" alt="Nguyễn Thị Như Huỳnh ">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Nguyễn Thị Như Huỳnh </h3><span class="city text-white">Cần Thơ</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/chanhvang253"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Khác</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Trang-Sua&amp;id=2779" title="Trang Sứa">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">1k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2779/c194c153-59df-4433-b10f-c5fa4f236206_1714747150418-resize.jpg"
									   loading="lazy" alt="Trang Sứa">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Trang Sứa</h3><span class="city text-white">Hà Nội</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/goilatrangsua"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Làm đẹp, Sức khỏe, Lifestyle</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Nguyen-Thi-My-Duyen&amp;id=467"
											title="Nguyễn Thị Mỹ Duyên ">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">145k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/467/2d52a727-a79c-40f5-ad8c-6c988e9ebdbe_1694786203709-resize.jpg"
									   loading="lazy" alt="Nguyễn Thị Mỹ Duyên ">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Nguyễn Thị Mỹ Duyên </h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/duyen2xxx"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;"></div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Làm đẹp, Lifestyle, Khác</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=MAI-UYEN-PHAM&amp;id=2790" title="MAI UYỂN PHẠM">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">5k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2790/b267c8c1-7be0-4126-a0bf-9e639c71746d_1714849173721-resize.jpg"
									   loading="lazy" alt="MAI UYỂN PHẠM">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">MAI UYỂN PHẠM</h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/maika_plm"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Ẩm thực, Làm đẹp, Khác</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Thu-Huyen&amp;id=2384" title="Thu Huyền">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">15k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2384/0f964653-217e-487f-806e-5a7fc48bc145_1712588423640-resize.jpg"
									   loading="lazy" alt="Thu Huyền">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Thu Huyền</h3><span class="city text-white">Hà Nội</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/liamthichreview"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Làm đẹp, Thời trang, Khác</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Tran-Thi-Phuoc-An&amp;id=2815"
											title="Trần Thị Phước An">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">20k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2815/b69cc6fc-d211-4fa0-ba0c-293a45d7a9a7_1715052026232-resize.jpg"
									   loading="lazy" alt="Trần Thị Phước An">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Trần Thị Phước An</h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/rosean_24"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Công nghệ, Thời trang, Khác</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=xinh-dep-cung-mi&amp;id=2579" title="xinh đẹp cùng mi">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">8k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2579/fce9d711-603c-49fb-b452-1a9059fb7047_1713372326412-resize.jpg"
									   loading="lazy" alt="xinh đẹp cùng mi">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">xinh đẹp cùng mi</h3><span class="city text-white">Tiền Giang</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/xinhdepcungmi"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Thời trang, Làm đẹp</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Nguyen-Thi-Men&amp;id=540" title="Nguyễn Thị Mến">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">290k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/540/5b5aa00d-b952-493d-83d0-d2062420afcf_1695571078388-resize.jpg"
									   loading="lazy" alt="Nguyễn Thị Mến">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Nguyễn Thị Mến</h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/nichann_295"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Làm đẹp, Thời trang, Lifestyle, Giải trí</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Trinh-Thi-Xoan&amp;id=2946" title="Trịnh Thị Xoan">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">3k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2946/b0d9ea8a-c1fe-497c-8f4a-e7b7f6450c9d_1715912518040-resize.jpg"
									   loading="lazy" alt="Trịnh Thị Xoan">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Trịnh Thị Xoan</h3><span class="city text-white">Quảng Ninh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/embe_mon2k24"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Mẹ và bé</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Tran-Thanh-Tai&amp;id=2655" title="Trần Thanh Tài">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">2k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2655/2b64449d-3a11-41a4-8713-48c161038da7_1713793307975-resize.jpg"
									   loading="lazy" alt="Trần Thanh Tài">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Trần Thanh Tài</h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/booimacji"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Thời trang</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Khanh-Tra&amp;id=2346" title="Khánh Trà">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">10k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2346/ac3c4d7b-6328-402b-b6c6-ed0ec4165af8_1715002784133-resize.jpg"
									   loading="lazy" alt="Khánh Trà">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Khánh Trà</h3><span class="city text-white">Quảng Trị</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/khanhtra243"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Làm đẹp, Ẩm thực, Khác</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Pham-Hoang-Thao-My&amp;id=2282"
											title="Phạm Hoàng Thảo My">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">3k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2282/61b81aae-30d1-4008-be96-f57a7833f272_1712202871761-resize.jpg"
									   loading="lazy" alt="Phạm Hoàng Thảo My">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Phạm Hoàng Thảo My</h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/utssua8"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Làm đẹp, Sức khỏe, Lifestyle</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Phuong-Anh&amp;id=2837" title="Phương Anh">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">1k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2837/f79e7c77-f164-4385-b305-f06396ea45e4_1715177651543-resize.jpg"
									   loading="lazy" alt="Phương Anh">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Phương Anh</h3><span class="city text-white">Yên Bái</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/_anhphuong14"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Khác</div>
				</div>
				<div class="p-toast p-component p-toast-top-right">
					<div></div>
				</div>
				<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
					<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
											href="/components/detail-candidate/?mask=Kim-Yen&amp;id=2226" title="Kim Yến">
						<div class="image text-center relative border-round-xl overflow-hidden">
							<div class="followers align-items-center text-white absolute border-round-3xl flex">
								<img class="mr-1 border-circle" width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">83k
							</div><img width="270" height="330"
									   class="max-w-full w-full vertical-align-middle"
									   src="https://api.mykol.vn/profile/2226/1edb5c8a-a503-45ef-bdc8-dbd84f6b25c2_1712036869114-resize.jpg"
									   loading="lazy" alt="Kim Yến">
							<div class="title text-left px-4 pb-4 w-full absolute">
								<h3 class="name text-white capitalize mb-0 line-clamp-1">Kim Yến</h3><span class="city text-white">Thành phố Hồ Chí Minh</span>
							</div>
						</div>
					</a>
					<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
						<div class="social flex align-items-center">
							<a href="https://www.tiktok.com/_kyenn_"
							   target="_blank" title="tiktok">
								<img width="22" height="22"
									 src="/demo/images/social/icon-tiktok.svg">
							</a><span class="ml-1">
								<img width="29"
									 height="27" src="/demo/images/home/icon-analytics.png">
							</span>
							<div class="social" style="margin-top: -3px;">
								<img width="22" height="22"
									 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
									 class="max-w-full md:w-auto vertical-align-middle"><img width="22" height="22"
																  src="/demo/images/kolInfo/gmail.svg" alt="Kols"
																  class="max-w-full md:w-auto mx-2 vertical-align-middle">
							</div>
						</div>
						<div class="price">0&nbsp;₫</div>
					</div>
					<div class="careers line-clamp-2">Thời trang</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-paginator p-component md:mt-4">
		<button type="button"
				class="p-paginator-prev p-paginator-element p-link p-disabled border-round" disabled="">
			<span class="p-3">Previous</span><span role="presentation" class="p-ink"></span>
		</button><span class="p-paginator-pages">
			<button type="button"
					class="p-paginator-page p-paginator-element p-link p-paginator-page-start p-highlight">
				1<span role="presentation" class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				2<span role="presentation"
					   class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				3<span role="presentation"
					   class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				4<span role="presentation"
					   class="p-ink"></span>
			</button><span class="p-paginator-page p-paginator-element p-link p-paginator-page-end p-disabled"
						   style="user-select: none;">...</span>
		</span><button type="button"
					   class="p-paginator-next p-paginator-element p-link border-round">
			<span class="p-3">Next</span><span role="presentation" class="p-ink"></span>
		</button><span class="mx-3"
					   style="color:var(--text-color);user-select:none">
			Go to <input min="0" minlength="1" size="2"
				   class="p-inputtext p-component p-filled ml-1" value="1"><button class="p-button p-component ml-2">
				Go<span role="presentation" class="p-ink"></span>
			</button>
		</span>
	</div>
