<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from mykol.vn/components/search-kocs by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2024 01:08:19 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta name="robots" content="index, follow" />
    <title>MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer</title>
    <meta charSet="UTF-8" />
    <meta name="description" content="Booking KOC, KOL, Influencer, Reviewer trên Tiktok, Facebook, Youtube" />
    <meta property="og:title" content="MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer" />
    <meta property="og:description" content="Booking KOC, KOL, Influencer, Reviewer trên Tiktok, Facebook, Youtube" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:image" href="../layout/images/logo.jpg" />
    <meta property="og:image:alt" content="MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta name="copyright" content="MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer" />
    <meta name="author" content="MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer" />
    <meta name="GENERATOR" content="MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="theme-color" content="#FD4C5C" />
    <meta property="og:url" content="search-kocs.html" />
    <meta property="og:site_name" content="mykol.vn" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer" />
    <meta name="twitter:description" content="Booking KOC, KOL, Influencer, Reviewer trên Tiktok, Facebook, Youtube" />

    <meta name="twitter:image" content="../layout/images/logo.jpg" />
    <meta itemProp="name" content="MyKOL - Tìm Kiếm, Booking KOC, KOL, Influencer" />
    <meta itemProp="description" content="Booking KOC, KOL, Influencer, Reviewer trên Tiktok, Facebook, Youtube" />
    <meta itemProp="image" content="../layout/images/logo.jpg" />
    <link rel="canonical" href="search-kocs.html" />
    <link href="../favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="../favicon.png" rel="apple-touch-icon" />
    <link href="../favicon.png" rel="apple-touch-icon-precomposed" />
    <script async="" src="../../www.googletagmanager.com/gtag/js8517?id=G-G8JK3LZZ0F"></script>
    <meta name="next-head-count" content="39" />
    <link id="theme-css" href="~/lib/themes/theme.css" rel="stylesheet" />
    <link rel="preload" href="~/lib/_next/static/css/dd67e2b6a406e07a.css" as="style" />
    <link rel="stylesheet" href="~/lib/_next/static/css/dd67e2b6a406e07a.css" data-n-g="" />
    <link rel="preload" href="~/lib/_next/static/css/e118dde0a50257df.css" as="style" />
    <link rel="stylesheet" href="~/lib/_next/static/css/e118dde0a50257df.css" data-n-p="" />

</head>

<body>
    <div id="__next" data-reactroot="">
        <div class="layout-wrapper layout-theme-light layout-static layout-static-inactive p-ripple-disabled">
            <div class="layout-topbar">
                <a class="layout-topbar-logo" href="../index.html">
                    <img src="../layout/images/logo.jpg" width="70" height="60" alt="logo" />
                </a>
                <div class="btn-header-topbar"></div>
                <div class="nav-menu-top-bar">
                    <button type="button"
                            class="p-link ml-0 px-3 py-2 layout-menu-button layout-topbar-button font-bold">
                        Tin tuyển
                        dụng
                    </button><button type="button"
                                     class="p-link ml-0 px-3 py-2 layout-menu-button layout-topbar-button font-bold">
                        KOC Free
                        Cast
                    </button>
                </div><button type="button"
                              class="p-link ml-0 outline-none layout-topbar-menu-button layout-topbar-button">
                    <div class="no-login"><i class="pi pi-bars" style="font-size:2rem"></i></div>
                </button>
                <div class="layout-topbar-menu layout-topbar-menu-moblie">
                    <div>
                        <button type="button" class="p-link layout-topbar-button"><span>Đăng nhập</span></button><span>
                            |
                        </span><button type="button" class="p-link layout-topbar-button">
                            <span>
                                Đăng
                                ký
                            </span>
                        </button>
                    </div>
                </div>
                <div></div>
                <div></div>
            </div>
            <div class="ml-0 layout-main-container">
                <div class="layout-main">
                    <div id="search-kol-page" class="w-full bg-white">
                        <div id="form-search-kol-page" class="md:pt-5 py-3 md:pb-7">
                            <div class="container">
                                <h3 class="text-center text-white">Tìm kiếm Influencer</h3>
                                <form class="text-center">
                                    <div class="input-name md:mb-4 mb-2 border-round-2xl overflow-hidden m-auto relative w-full">
                                        <input type="text" value="" class="w-full border-none outline-none"
                                               placeholder="Nhập username Tiktok, ví dụ: lebong85" name="name" /><button type="submit"
                                                                                                                         class="border-none z-2 cursor-pointer absolute outline-none"></button>
                                    </div>
                                    <div class="flex flex-wrap gap-2 justify-content-center">
                                        <select class="items-form border-none cursor-pointer outline-none shadow-1 border-round-2xl"
                                                name="careerCode">
                                            <option selected="" value="0">Lĩnh vực</option>
                                            <option value="1">Ẩm thực</option>
                                            <option value="2">Làm đẹp</option>
                                            <option value="3">Thời trang</option>
                                            <option value="4">Sức khỏe</option>
                                            <option value="5">Lifestyle</option>
                                            <option value="6">Mẹ và bé</option>
                                            <option value="20">Mẫu Livestream</option>
                                            <option value="25">Mẫu Ảnh</option>
                                            <option value="7">Du lịch</option>
                                            <option value="8">Công nghệ</option>
                                            <option value="9">Giải trí</option>
                                            <option value="10">Thể thao</option>
                                            <option value="11">Giáo dục</option>
                                            <option value="12">Kinh doanh</option>
                                            <option value="13">Tài chính</option>
                                            <option value="14">Nông nghiệp</option>
                                            <option value="15">Sách</option>
                                            <option value="16">Thú cưng</option>
                                            <option value="17">Nghệ thuật</option>
                                            <option value="18">Âm nhạc &amp; Nhảy</option>
                                            <option value="19">Xe cộ</option>
                                            <option value="21">Gia dụng</option>
                                            <option value="22">Nội thất</option>
                                            <option value="23">Đồ chơi</option>
                                            <option value="24">Khác</option>
                                        </select><select class="items-form border-none cursor-pointer outline-none shadow-1 border-round-2xl"
                                                         name="followers">
                                            <option value="0">Follower</option>
                                            <option value="N/A - 1000">Dưới 1,000</option>
                                            <option value="1000 - 5000">1,000 - 5,000</option>
                                            <option value="5000 - 10000">5,000 - 10,000</option>
                                            <option value="10000 - 50000">10,000 - 50,000</option>
                                            <option value="50000 - 100000">50,000 - 100,000</option>
                                            <option value="100000 - 200000">100,000 - 200,000</option>
                                            <option value="200000 - 500000">200,000 - 500,000</option>
                                            <option value="500000 - N/A">Trên 500,000</option>
                                        </select><select class="items-form border-none cursor-pointer outline-none shadow-1 border-round-2xl"
                                                         name="bookingPrice">
                                            <option selected="" value="">Giá booking</option>
                                            <option value="0-500000">0đ - 500,000đ</option>
                                            <option value="500000-1000000">500,000đ - 1,000,000đ</option>
                                            <option value="1000000-2000000">1,000,000đ - 2,000,000đ</option>
                                            <option value="2000000-5000000">2,000,000đ - 5,000,000đ</option>
                                            <option value="5000000-10000000">5,000,000đ - 10,000,000đ</option>
                                            <option value="10000000-20000000">10,000,000đ - 20,000,000đ</option>
                                            <option value="20000000-N/A">Trên 20,000,000đ</option>
                                        </select><select class="items-form border-none cursor-pointer outline-none shadow-1 border-round-2xl"
                                                         name="cityCode">
                                            <option selected="" value="0">Địa chỉ</option>
                                        </select><select class="items-form border-none cursor-pointer outline-none shadow-1 border-round-2xl"
                                                         name="avgVideo">
                                            <option selected="" value="">Doanh thu/video</option>
                                            <option value="N/A - 100000">Dưới 100,000đ</option>
                                            <option value="100000 - 500000">100,000đ - 500,000đ</option>
                                            <option value="500000 - 1000000">500,000đ - 1,000,000đ</option>
                                            <option value="1000000 - 5000000">1,000,000đ - 5,000,000đ</option>
                                            <option value="5000000 - 10000000">5,000,000đ - 10,000,000đ</option>
                                            <option value="10000000 - 20000000">10,000,000đ - 20,000,000đ</option>
                                            <option value="20000000 - N/A">Trên 20,000,000đ</option>
                                        </select><select class="items-form border-none cursor-pointer outline-none shadow-1 border-round-2xl"
                                                         name="avgLive">
                                            <option selected="" value="">Doanh thu/live</option>
                                            <option value="N/A - 100000">Dưới 100,000đ</option>
                                            <option value="100000 - 500000">100,000đ - 500,000đ</option>
                                            <option value="500000 - 1000000">500,000đ - 1,000,000đ</option>
                                            <option value="1000000 - 5000000">1,000,000đ - 5,000,000đ</option>
                                            <option value="5000000 - 10000000">5,000,000đ - 10,000,000đ</option>
                                            <option value="10000000 - 20000000">10,000,000đ - 20,000,000đ</option>
                                            <option value="20000000 - N/A">Trên 20,000,000đ</option>
                                        </select>
                                    </div>
                                    <div class="footer-search gap-2 flex justify-content-end pr-3 md:mt-3 mt-2">
                                        <button aria-label="Lọc" type="submit" style="width:80px"
                                                class="p-button p-component">
                                            <span class="p-button-icon p-c p-button-icon-left pi pi-search"></span><span class="p-button-label p-c">Lọc</span><span role="presentation"
                                                                                                                                                                    class="p-ink"></span>
                                        </button><button aria-label="Xóa chọn"
                                                         type="button" class="p-button p-component p-button remove-filter ml-2">
                                            <span class="p-button-icon p-c p-button-icon-left pi pi-reply"></span><span class="p-button-label p-c">Xóa chọn</span><span role="presentation"
                                                                                                                                                                        class="p-ink"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="container">
                            <div id="search-kocs" class="card md:pb-6 pb-3 pl-3 pr-3 shadow-1 md:mt-6 mt-3 md:mb-3 my-3 border-round-2xl w-full">
                                @await Html.PartialAsync("_ListKOC")
                            </div>
                        </div>
                    </div>
                    <div id="zalo-fixed">
                        <a href="../../zalo.me/0908141233.html" target="_blank">
                            <img src="../demo/images/social/zalo-icon.png" alt="zalo" />
                        </a>
                    </div>
                </div>
                <footer class="bg-white shadow-1 pt-3 pb-5">
                    <div class="layout-footer grid">
                        <div class="col-12 md:col-4">
                            <img src="../layout/images/logo.jpg" alt="InfluX" width="300" />
                            <p class="mb-2 text-xl"></p>
                            <p class="mb-2 text-xl"></p>
                            <p class="mb-2 text-xl"></p>
                            <p class="mb-2 text-xl">Hotline: <a href="tel:0383050533">0908.141.233</a></p>
                            <p class="mb-2 text-xl">Email: boonygroup1@gmail.com</p>
                            <p class="mb-2 text-xl"></p>
                            <div class="flex mt-3 gap-3">
                                <a href="../../www.youtube.com/channel/UCGTfOtd_pxJXIk8wYZyKyBg.html"
                                   target="_blank">
                                    <img src="../demo/images/social/icon-youtube.svg" alt="youtube"
                                         width="50" />
                                </a><a href="../../www.tiktok.com/%40mykol.html"
                                       target="_blank">
                                    <img src="../demo/images/social/icon-tiktok.svg" alt="tiktok"
                                         width="50" />
                                </a><a href="../../zalo.me/0908141233.html" target="_blank">
                                    <img src="../demo/images/social/zalo-icon.png" alt="zalo" width="50" />
                                </a>
                            </div>
                        </div>
                        <div class="col-12 md:col-8 md:pl-8 info-footer">
                            <h3 class="w-full uppercase md:mb-5 text-center text-4xl title-info-footer">Về mykol</h3>
                            <div class="grid">
                                <div class="col-12 md:col-6">
                                    <ul class="list-none my-0 pl-0 text-xl">
                                        <li class="mb-4">
                                            <a class="text-color" href="../landing/introduce.html"
                                               title="Giới thiệu">Giới thiệu</a>
                                        </li>
                                        <li class="mb-4">
                                            <a class="text-color" href="contact.html" title="Liên hệ">
                                                Liên
                                                hệ
                                            </a>
                                        </li>
                                        <li class="mb-4">
                                            <a class="text-color"
                                               href="../landing/answer-and-question.html" title="Hỏi đáp">Hỏi đáp</a>
                                        </li>
                                        <li class="mb-4">
                                            <a class="text-color"
                                               href="../landing/operating-regulations.html"
                                               title="Quy chế hoạt động">Quy chế hoạt động</a>
                                        </li>
                                        <li>
                                            <a class="text-color" href="../landing/instructions-creating-profile.html"
                                               title="Hướng dẫn tạo profile">Hướng dẫn tạo profile</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 md:col-6">
                                    <ul class="list-none my-0 pl-0 text-xl">
                                        <li class="mb-4">
                                            <a class="text-color" href="../landing/privacy-policy.html"
                                               title="Chính sách bảo mật">Chính sách bảo mật</a>
                                        </li>
                                        <li class="mb-4">
                                            <a class="text-color" href="../landing/terms-of-use.html"
                                               title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                                        </li>
                                        <li class="mb-4">
                                            <a class="text-color" href="../landing/dispute-resolution.html"
                                               title="Giải quyết tranh chấp">Giải quyết tranh chấp</a>
                                        </li>
                                        <li class="mb-4">
                                            <a class="text-color" href="#"
                                               title="Chương trình Referrals">Chương trình Referrals</a>
                                        </li>
                                        <li class="mb-4">
                                            <a class="text-color"
                                               href="../landing/information-protection-policy.html"
                                               title="Chính sách bảo vệ thông tin">Chính sách bảo vệ thông tin</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 text-center pt-2"></div>
                </footer>
            </div>
            <div class="layout-mask"></div>
        </div>
    </div>
    <script id="__NEXT_DATA__"
            type="application/json">{"props":{"pageProps":{}},"page":"/components/search-kocs","query":{},"buildId":"1hnPLuHKtEE3djqGttqdh","runtimeConfig":{"contextPath":"","uploadPath":"/api/upload","url":"https://api.mykol.vn","siteSEO":"https://mykol.vn","path":"/api/kols/","pathV2":"/api/v2/kols/"},"nextExport":true,"autoExport":true,"isFallback":false,"scriptLoader":[]}</script>
</body>
<!-- Mirrored from mykol.vn/components/search-kocs by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2024 01:08:19 GMT -->

</html>