@section Styles {
    <link rel="stylesheet" href="~/css/admin_dashboard.css" />
}

<div class="cards">
    <div class="card blue">
        <div class="card-icon">
            <i class="fa-solid fa-house" ></i>
        
        </div>
        <div class="card-content">
            <h3>Brand</h3>
            <p id="brandcount" value="@Model.TotalBrand">@Model.TotalBrand</p>
        </div>
    </div>
    <div class="card green">
        <div class="card-icon">
            <i class="fas fa-user"></i>
        </div>
        <div class="card-content">
            <h3>Influencer</h3>
            <p id="influencercount">@Model.TotalInfluencer</p>
        </div>
    </div>

    <div class="card red">
        <div class="card-icon">
            <i class="fa-solid fa-newspaper"></i>
        </div>
        <div class="card-content">
            <h3>Campaign</h3>
            <p id="campaigncount">@Model.TotalCampaign</p>
        </div>
    </div>
</div>


<div class="chart-section">
    <h3>Biểu đồ cột</h3>
    <canvas id="myChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var brandcount = document.getElementById("brandcount").innerText;
    var influencercount = document.getElementById("influencercount").innerText;
    var campaigncount = document.getElementById("campaigncount").innerText;
    const ctx = document.getElementById("myChart").getContext("2d");
    const myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["Brand", "Influencer", "Campaign"],
            datasets: [
                {
                    label: "Số lượng",
                    data: [brandcount, influencercount, campaigncount],
                    backgroundColor: [
                        "rgba(52, 152, 219, 0.6)",
                        "rgba(52, 152, 219, 0.6)",
                        "rgba(52, 152, 219, 0.6)",
  
                    ],
                    borderColor: [
                        "rgba(52, 152, 219, 1)",
                        "rgba(52, 152, 219, 1)",
                        "rgba(52, 152, 219, 1)",
         
                    ],
                    borderWidth: 1,
                },
            ],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>